@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #e5e5e5;
  margin: 0;
  padding: 0;
}

.hr {
  border-top: 1px solid #bbb;
  width: 90%;
}

.entire {
  font-family: "Poppins", sans-serif;
  background-color: #e5e5e5;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.toolbar h2 {
  color: #6070ff;
  padding-left: 20px;
  white-space: nowrap;
}

.blur {
  mix-blend-mode: multiply;
  background: #c1c7d0;
  backdrop-filter: blur(6px);
}

.tonic-c {
  width: 100%;
}

.close {
  background-color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(6px);
  align-items: start;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  margin: 15px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  border: 1px solid black;
  width: 475px;

  /* min-height: max-content; */
  border-radius: 12px;
  padding: 16px;
  zoom: 65%;
}

.see-pop {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: row;
  width: 90%;
  gap: 20%;
  padding-top: 20px;
}

.see-pop > .press {
  width: 150px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  background-color: #fff;
  border: 1px solid #6070ff;
  border-radius: 12px;
  padding-top: 10px;
}

a {
  text-decoration: none;
}

.menu-li > nav > a {
  color: #fff;
  padding-left: 40px;
}

.see-pop > .press > a {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #6070ff;
}

.headert {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 21px;
}

.headert img {
  width: 24px;
  height: 24px;
  margin: 20px 0 0 20px;
}

.counter {
  align-self: center;
}

.sidel {
  width: 100%;
}

#titlew {
  font-size: 1.5em;
  font-style: bold;
  font-weight: 900;
  display: flex;
  align-items: center;
  color: #172b4d;
  width: 100%;
  margin: 10px 10px 0 0;
  padding-bottom: 20px;
}

.langw {
  font-style: normal;
  font-size: 0.5em;
  display: flex;
  padding: 0;
  gap: 8%;
  width: 57%;
  color: #6070ff;
  margin: 0;
  padding-bottom: 20px;
}

.work {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  padding-bottom: 20px;
}

.work > p {
  margin: 0;
  padding: 0;
}

.detailsw {
  font-style: normal;
  font-size: 1em;
  display: flex;
  align-items: center;
  padding-left: 0;
  gap: 3%;
  margin-top: 1px;
  margin-bottom: 1px;
  width: 236px;
  height: 32px;
}

.detailsw .counter {
  padding-bottom: 5px;
}

.menu-popup {
  background-image: url(./Images/Overlay.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  mix-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(6px);
  align-items: start;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
}

.menu-li nav {
  margin-top: 20px;
  margin-bottom: 20px;
}

.close-mobile-menu {
  align-self: end;
  padding-right: 40px;
}

.hidden {
  display: none;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  background-color: #fff;
  background-image: url(Images/header-shapes-mobile.png);
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 1px 1px 1px 70px;
}

.hambruger {
  margin-right: 26px;
}

.toolbar {
  display: flex;
  font-style: normal;
  font-weight: bold;
  font-size: 1.1em;
  align-items: center;
  color: #6070ff;
  background-color: #fff;
  margin-bottom: -1px;
  gap: 50%;
  justify-content: space-between;
}

.tool {
  display: flex;
  gap: 11em;
  min-width: 18px;
  padding-right: 20px;
  padding-left: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 1.1em;
  align-items: center;
  color: #6070ff;
}

.vectorb {
  display: none;
}

.header {
  font-style: bold;
  font-weight: 700;
  font-size: 2.5em;
  display: flex;
  align-items: center;
  color: #172b4d;
  margin: 114px 0 0 0;
  padding: 0 24px 0 0;
}

#title {
  font-size: 1.5em;
  font-style: bold;
  font-weight: 900;
  display: flex;
  align-items: center;
  color: #172b4d;
  width: 100%;
}

.abt {
  font-style: normal;
  font-weight: 700;
  font-size: 2.5em;
  display: flex;
  align-items: center;
  color: #172b4d;
  width: 80%;
  margin-left: 16px;
  margin-top: 80px;
  margin-bottom: 1px;
}

.info {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #344563;
}

.info-abt {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #344563;
  width: 90%;
  margin: 0 16px 5px 16px;
}

.proj-header {
  margin-top: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
}

.connecth {
  font-style: normal;
  font-weight: normal;
  font-size: 1.2em;
  color: #7f8cff;
  margin-bottom: 10px;
  margin-top: 5px;
}

.connect {
  font-style: normal;
  font-weight: normal;
  font-size: 1.2em;
  color: #7f8cff;
  margin-left: 16px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.connect h3 {
  margin: 0;
}

.icons {
  display: flex;
  align-items: flex-start;
  gap: 3%;
  margin-top: 0;
  margin-left: 5px;
  margin-bottom: 120px;
  padding-left: 0;
}

.abt-icons {
  display: flex;
  align-items: flex-start;
  gap: 8%;
  margin-top: 0;
  margin-left: 17px;
  padding: 0;
}

li {
  list-style: none;
}

.middle-section1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 18px;
  gap: 50%;
  width: 90%;
  border-radius: 12px;
  box-sizing: border-box;
  border: 1px solid #dfe1e6;
  margin-top: 120px;
  align-content: right;
}

.card {
  box-sizing: border-box;
  border-radius: 12px;
  border: 1px solid #dfe1e6;
  background: #fff;
  width: 100%;
  margin-bottom: 88px;
  padding: 20px;
}

.sidew {
  align-content: start;
}

.side-pop {
  width: 100%;
  padding-top: 20px;
}

.tonic {
  align-items: center;
  width: 100%;
}

.details {
  font-style: normal;
  font-size: 1em;
  display: flex;
  align-items: center;
  width: 90%;
  padding-left: 0;
  gap: 3%;
  margin-top: 1px;
  margin-bottom: 1px;
}

.canopy {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.spec {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #4d5666;
}

.lang {
  font-style: normal;
  font-size: 1em;
  display: flex;
  padding: 0;
  gap: 8%;
  width: 57%;
  color: #6070ff;
}

.hcj {
  background-color: #ebebff;
  border-radius: 8px;
  display: flex;
}

.hcj p {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.button {
  background-color: #fff;
  border: 1px solid #6070ff;
  font-style: normal;
  font-size: 15px;
  font-weight: 510;
  color: #396df2;
  padding: 21px;
  transition-duration: 0.4s;
  border-radius: 8px;
  box-sizing: border-box;
  width: 124px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

button:hover {
  background: #6070ff;
  color: #fff;
  border-radius: 12px;
}

.button:active {
  background: #2230d2;
  border-radius: 12px;
  color: #fff;
}

h1 {
  margin: 0;
}

.buttonr {
  background-color: #fff;
  border: 1px solid #6070ff;
  font-style: normal;
  font-size: 17px;
  font-weight: 510;
  color: #396df2;
  padding: 21px;
  transition: ease-in-out;
  transition-duration: 0.2s;
  border-radius: 8px;
  box-sizing: border-box;
  width: 162px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 16px;
}

.buttonr:hover {
  background: #6070ff;
  border: 1px solid;
  transform: scale(1.1);
}

ul ul {
  padding: 0;
}

.about-sec {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  gap: 50%;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #dfe1e6;
  margin-top: 8%;
  background: #fff;
  height: auto;
  border-radius: 12px 70px 12px 12px;
  padding: 20px;
}

.header h3 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.hh {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 12px;
}

.options {
  width: 99%;
  padding: 0;
  margin: 0;
}

.ll {
  display: flex;
  background-color: #f7f7f9;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border-radius: 12px;
}

.languages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 12px;
  border-radius: 12px;
  color: #253858;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  gap: 50%;
  width: 100%;
  border-radius: 70px 12px 12px 12px;
  box-sizing: border-box;
  border: 1px solid #dfe1e6;
  padding: 14px;
  margin-top: 0;
  background: #6070ff;
  height: auto;
  color: #fff;
  background-image: url(./Images/cfp.png);
  background-repeat: no-repeat;
  background-position: absolute;
  background-size: 100% 100%;
}

.contact-head {
  text-align: center;
  margin-top: 102px;
}

.contact-info {
  text-align: center;
  margin-bottom: 45px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 97%;
}

input {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px 0 15px 16px;
  width: inherit;
}

textarea {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px 0 15px 16px;
  width: inherit;
}

textarea::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
}

.contact-button {
  padding: 12px 16px;
  background: #fff;
  border-radius: 8px;
  border: none;
  margin-bottom: 45px;
  color: #6070ff;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
}

.contact-button:hover {
  background: #6070ff;
  color: #fff;
  border-radius: 12px;
}

.contact-button:active {
  background: #2230d2;
  border-radius: 12px;
  color: #fff;
}

.contact-background {
  position: absolute;
  left: 0;
  width: 540px;
  height: 520px;
}

.contact-description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  width: 90%;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 5px;
}

.hide {
  display: none;
}

@media only screen and (min-width: 768px) {
  .toolbar {
    display: flex;
    font-style: normal;
    font-weight: bold;
    font-size: 1.1em;
    justify-content: space-between;
    color: #6070ff;
    gap: 0;
    min-width: 375px;
    background-color: #fff;
    width: 100%;
  }

  .toolbar p {
    color: #0f27ff;
    padding-left: 60px;
    overflow: hidden;
    white-space: nowrap;
  }

  .vector {
    display: none;
  }

  .headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: #fff;
    background-image: url(./Images/Header\ bg@2x.png);
    background-repeat: no-repeat;
    border-radius: 0 0 0 70px;
    background-position: absolute;
    background-size: 100%;
    margin: 0 0 0 0;
  }

  .front {
    width: 55%;
    margin: 40px 200px 50px;
  }

  .header {
    font-style: bold;
    font-weight: 700;
    font-size: 2.5em;
    display: flex;
    align-items: flex-start;
    color: #172b4d;
    width: 900px;
    padding: 0;
    margin-left: 0;
  }

  .info {
    font-style: normal;
    font-weight: 400;
    color: #344563;
    width: 100%;
    margin: 1.66vw 0 1.66vw 0;
  }

  .info > p {
    font-size: 1.6vw;
    padding: 0;
    margin: 0;
  }

  .connect {
    font-style: normal;
    font-weight: normal;
    font-size: 1.2vw;
    color: #0f27ff;
    margin: 0;
  }

  .icons {
    display: flex;
    align-items: flex-start;
    gap: 26px;
    width: 250px;
    height: 100px;
    padding-left: 0;
    margin-top: 20px;
  }

  .vectorb {
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: #6070ff;
    background-color: #fff;
    align-self: center;
    margin: 0 142px 0 0;
  }

  a {
    text-decoration: none;
  }

  .vectorb a {
    color: #0f27ff;
  }

  .sidep {
    margin: 1.6vw;
  }

  .sidep2 {
    display: flex;
  }

  .sidep3 {
    display: flex;
  }

  .sidep4 {
    display: flex;
  }

  /* .sidep img {
    content: url("./Work/1.png");
  }

  .sidep2 img {
    content: url("./Work/2.png");
  }

  .sidep3 img {
    content: url("./Work/3.png");
  }

  .sidep4 img {
    content: url("./Work/4.png");
  } */

  .sidew1 {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 1.52vw;
  }

  .sidew2 {
    display: flex;
    flex-direction: column;
    width: 58%;
    margin: 20px;
    margin-left: 40px;
  }

  .middle-section2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    margin: 16px;
    gap: 1%;
    width: 80%;
    border-radius: 12px;
    box-sizing: border-box;
    border: 1px solid #dfe1e6;
    background: #fff;
    margin-top: 120px;
    margin-left: 122px;
    margin-right: 122px;
  }

  .tonic {
    width: 76vw;
    height: 33vw;
  }

  .tonic-c {
    width: 37.7vw;
    height: 31vw;
  }

  .details {
    font-style: normal;
    font-size: 18px;
    display: flex;
    align-items: center;
    width: 90%;
    gap: 5%;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 0;
  }

  .canopy > p,
  .spec > p {
    font-weight: 600;
    font-size: 1vw;
    line-height: 16px;
    color: #344563;
    margin: 0;
    padding: 0;
  }

  .spec {
    font-weight: 600;
    font-size: 17px;
    line-height: 16px;
    color: #4d5666;
  }

  .lang {
    font-style: normal;
    font-size: 1em;
    display: flex;
    padding: 0;
    gap: 5%;
    color: #0f27ff;
    margin: 0;
    justify-content: flex-start;
  }

  .hcj {
    background-color: #ebebff;
    border-radius: 8px;
    padding-left: 7px;
    padding-right: 7px;
    display: flex;
    margin: 3px;
  }

  .hcj p {
    margin: 0;
  }

  .see {
    margin: 0;
    margin-top: 20px;
    color: #0f27ff;
  }

  .sees {
    margin: 0%;
    margin-top: 20px;
    margin-bottom: 80px;
    color: #fff;
  }

  .button {
    background-color: #fff;
    border: 1px solid #6070ff;
    font-style: normal;
    font-size: 1.4vw;
    font-weight: 500;
    color: #396df2;
    padding: 2.3vw;
    transition-duration: 0.4s;
    border-radius: 8px;
    box-sizing: border-box;
    width: 12.5vw;
    height: 4.7vw;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .options {
    margin-left: 35px;
    width: 88%;
    padding: 0;
  }

  .buttons {
    background-color: #6070ff;
    border: 1px solid #6070ff;
    font-style: normal;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    padding: 30px;
    transition-duration: 0.4s;
    border-radius: 8px;
    box-sizing: border-box;
    width: 150px;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  button:hover {
    background: #6070ff;
    color: #fff;
    border-radius: 12px;
  }

  .button:active {
    background: #2230d2;
    border-radius: 12px;
    color: #fff;
  }

  #title {
    font-size: 2.8vw;
    font-style: bold;
    font-weight: 900;
    align-items: center;
    color: #172b4d;
    width: 80%;
    margin-top: 1.6vw;
    margin-bottom: 1px;
    margin-left: 0;
  }

  .about-sec {
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid #dfe1e6;
    padding: 14px;
    margin-top: 15%;
    background: #fff;
    height: auto;
    border-radius: 0 70px 0 0;
    padding-bottom: 120px;
    width: 100%;
    gap: 0%;
  }

  .sidea {
    display: flex;
    flex-direction: column;
    width: 31vw;
    margin-left: 100px;
    margin-top: 142px;
  }

  .sidel {
    display: flex;
    flex-direction: column;
    margin-left: 1.7vw;
    margin-top: 142px;
  }

  .abt {
    font-style: normal;
    font-weight: 700;
    font-size: 2.5em;
    display: flex;
    align-items: center;
    color: #172b4d;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 1px;
    line-height: 6vw;
    padding-right: 5vw;
  }

  .info-abt {
    font-style: normal;
    font-weight: 400;
    font-size: 1.3vw;
    color: #344563;
    width: 90%;
    margin-left: 0;
    margin-right: 16px;
    margin-bottom: 5px;
  }

  .abt-icons {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 16px;
    margin-left: 0;
    padding: 0;
    width: 30%;
  }

  .ll > img {
    width: 3.3vw;
  }

  .headert > img {
    width: 1.7vw;
    height: 1.7vw;
    align-self: center;
    margin: 0 0 0 20px;
  }

  .abt-icons > li > a > img {
    width: 1.66vw;
    height: 1.66vw;
  }

  .buttonr {
    background-color: #fff;
    border: 1px solid #6070ff;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    font-size: 1.25vw;
    font-weight: 510;
    color: #396df2;
    padding: 5px;
    border-radius: 8px;
    box-sizing: border-box;
    width: 11.25vw;
    height: px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0;
    transition-duration: 0.4s;
  }

  .buttonr:hover {
    background: #6070ff;
    border: 1px solid;
  }

  .contact-head {
    align-items: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    margin-top: 142px;
  }

  .contact-info {
    width: 569px;
    height: 102px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    margin: 0;
    padding: 0;
    margin-left: 56px;
    margin-right: 56px;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 50%;
    border-radius: 70px 0 0 0;
    box-sizing: border-box;
    padding: 14px;
    margin-top: 0;
    background: #0f33ff;
    height: auto;
    color: #fff;
    background-image: url(./Images/cf.png);
    background-repeat: no-repeat;
    background-position: absolute;
    background-size: 100%;
    width: 100%;
  }

  .formcenter {
    width: 77%;
    align-self: center;
    padding: 142px 320px 127px;
  }

  .contact-background {
    position: absolute;
    left: 0;
    width: 540px;
    height: 520px;
  }

  .contact-description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    width: 90%;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input {
    background: #fff;
    border: 1px solid #cfd8dc;
    padding: 15px 0 15px 16px;
    width: 447px;
    height: 53px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    font-family: "Poppins", sans-serif;
    border-radius: 0;
  }

  textarea {
    background: #fff;
    border: 1px solid #cfd8dc;
    padding: 15px 0 15px 16px;
    width: 447px;
    border-radius: 0;
  }

  textarea::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    font-family: "Poppins", sans-serif;
  }

  .contact-button {
    font-family: "Poppins", sans-serif;
    padding: 12px 16px;
    background: #fff;
    border-radius: 8px;
    border: none;
    color: #0f27ff;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
  }

  .btnsize {
    align-self: center;
    margin-bottom: 142px;
  }

  .contact-button:hover {
    background: #6070ff;
    color: #fff;
    border-radius: 12px;
  }

  .contact-button:active {
    background: #2230d2;
    border-radius: 12px;
    color: #fff;
  }

  .languages {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0 12px;
    border-radius: 12px;
    color: #253858;
  }

  .ll {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f9;
    align-items: flex-start;
    gap: 1.4vw;
    padding: 1vw;
    border-radius: 12px;
    width: 8.5vw;
    font-size: 1.3vw;
  }

  .hh > h3 {
    font-size: 1.5vw;
  }

  /* desktop popup begins */
  .middle-section1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 8.33vw 9.8vw 0 9.8vw;
    gap: 50%;
    border-radius: 12px;
    box-sizing: border-box;
    border: 1px solid #dfe1e6;
    align-content: center;
    margin-left: 40px;
  }

  .card {
    display: flex;
    justify-content: flex-start;
    padding: 0;
  }

  .close {
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(6px);
    align-items: start;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    margin: 15px;
    margin-right: 10px;
    margin-left: 70px;
    margin-bottom: 20px;
    border: 1px solid black;
    width: 80vw;
    min-height: max-content;
    border-radius: 12px;
    padding: 16px;
    zoom: 0;
  }

  .work {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2vw;
    line-height: 1.9vw;
    color: #344563;
    padding-bottom: 20px;
    width: 54vw;
  }

  .work-lang {
    display: flex;
    flex-direction: row;
    padding: 25px;
  }

  .detailsw {
    font-style: normal;
    font-size: 1em;
    display: flex;
    align-items: center;
    padding-left: 0;
    gap: 3%;

    /* margin-top: 16px;
  margin-bottom: 16px; */
    width: 19.6vw;
    height: 13px;
    justify-content: space-around;
  }

  .see-pop {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: row;
    width: 70%;
    gap: 6%;
    padding-top: 20px;
  }

  .see-pop > .press {
    width: 150px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    background-color: #fff;
    border: 1px solid #6070ff;
    border-radius: 12px;
    padding-top: 10px;
  }

  .see-pop > .press > a {
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #6070ff;
  }

  .hr {
    border-top: 1px solid #bbb;
    width: 68%;
  }

  .langw {
    font-style: normal;
    font-size: 0.5em;
    display: flex;
    padding: 0;
    gap: 8%;
    width: 85%;
    color: #6070ff;
    margin: 0;
    padding-bottom: 20px;
    flex-wrap: wrap;
  }

  .side-pop {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .hide {
    display: block;
  }

  #mob {
    display: none;
  }

  .headert {
    margin: 0;
    padding: 0;
  }

  #titlew {
    font-size: 2.7vw;
    font-style: bold;
    font-weight: 900;
    color: #172b4d;
    margin: 0;
    padding: 0;
  }

  body > .blur {
    mix-blend-mode: multiply;
    background: #c1c7d0;
    transition: 0.2s;
    -webkit-filter: blur(2px);
    filter: blur(6px);
  }
}
